@model LibraryAutoSystem.Models.IadeKitaplar

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Düzenle</h1>

<h4>IadeKitaplar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IadeKitapId" />
            <input type="hidden" asp-for="IadeEdenId" />
            <div class="form-group">
                <label asp-for="IadeTarihi" class="control-label"></label>
                <input asp-for="IadeTarihi" class="form-control" />
                <span asp-validation-for="IadeTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dönt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
